appdirs==1.4.4
asgiref==3.8.1
botocore==1.40.16
captcha==0.7.1
certifi==2025.8.3
charset-normalizer==3.4.3
crispy-bootstrap5==2024.10
Django==5.1.4
django-autoslug==1.9.9
django-ckeditor==6.7.2
django-ckeditor-5==0.2.15
django-crispy-forms==2.3
django-jalali==7.4.0
django-js-asset==3.0.1
django-taggit==6.1.0
fs==2.4.16
idna==3.10
inflection==0.5.1
jalali_core==1.0.0
jdatetime==5.2.0
jmespath==1.0.1
pillow==11.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
sqlparse==0.5.2
tzdata==2024.2
unicode-slugify==0.1.5
Unidecode==1.4.0
urllib3==2.5.0
