{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link text-center">
    <span class="brand-text" style="font-family: 'B Titr'; font-size: 14px;">حمید به گذر</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <nav class="mt-2" style="font-family: 'Sahel';">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- اخبار -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link active">
            <i class="nav-icon fa fa-newspaper"></i>
            <p>اخبار<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:home' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست اخبار</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:create_article' %}" class="nav-link">
                <i class="fa fa-plus-square nav-icon"></i>
                <p>افزودن خبر</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link active">
            <i class="nav-icon fa fa-newspaper"></i>
            <p>دسته بندی<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'account:category_list' %}" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>لیست دسته بندی</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account:category_add' %}" class="nav-link">
                <i class="fa fa-plus-square nav-icon"></i>
                <p>افزودن دسته بندی</p>
              </a>
            </li>
          </ul>
        </li>
{#  <li class="nav-item" style="list-style-type:none;">#}
{#                  <a href="{% url 'account:category_add' %}" class="nav-link">#}
{#                    <i class="fa fa-plus-square"></i>#}
{#                    <p>افزودن دسته بندی#}
{# </p>#}
{#                  </a>               #}
{#                </li>#}
{#                    <li class="nav-item" style="list-style-type:none;">#}
{#                  <a href="{% url 'account:category_list' %}" class="nav-link">#}
{#                    <i class="fa fa-plus-square"></i>#}
{#                    <p>لیست دسته بندی#}
{# </p>#}
{#                  </a>               #}
{#                </li>#}
        <!-- وکلا -->
        

      </ul>
    </nav>
  </div>
</aside>
